body {
    font-family:"Playfair Display", serif;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #D9D9D9;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



/* ------ HERO / TITLE SECTION ------ */

.hero {
    padding: 6.5vw 5vw 11vw;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.hero h1 {
    font-size: clamp(50px, 17vw, 200px);
    margin-bottom: 0;
}

.hero h2 {
    font-size: clamp(20px, 5vw, 55px);
    margin-top: 0rem;
    margin-left: 1vw;
    font-family: "Mukta", sans-serif;
    font-weight: 200;
}



/* ------ TOOLBOX SECTION ------ */

.toolbox {
    background-color: #D88C9A40;
    padding: 1vh 3vw 3vw;
}

.toolbox h2 {
    padding-bottom: 2vw;
    border-bottom: solid 1px #7a7a7a;
}

.toolbox h2, .projects h2, .about-me h2, .contact h2 {
    font-size: clamp(20px, 7vw, 60px);
}

.toolbox h3, .projects h3 {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-size: clamp(25px, 3vw, 40px);
}

.toolbox p, .projects p, .about-me p {
    font-size: clamp(10px, 2.5vw, 25px);
}



/* ------ JELLY BEAN FORMATTING ------ */

.jellybeans {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    display: inline-flex;
    padding: 1vw;
    margin: 0.5vw;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    width: clamp(80px, 7vw, 200px);
    height: clamp(30px, 1.2vw, 50px);
}
 

.toolbox-bean {
    background-color: #2b3e4bcc;
}

.toolbox-bean:hover {
    background-color: #14405e;
}


/* ------ PROJECT SECTION ------- */

.projects {
    background-color: #284B6340;
    padding: 1vh 3vw;
}

.projects img {
    opacity: 85%;
    width: 30vw;
    border-radius: 7px;
}

.projects h2, .eateasy, .fireplace-palace, .film-wizard {
    padding-bottom: 2vw;
    border-bottom: solid 1px #5e5e5e;
}

.project-description-container {
    display: flex;
}

.project-description {
    padding-left: 2vw;
}

.jellybean-project-section {
    padding-left: 2vw;
}

.project-bean {
    background-color: #D88C9A40;
}

.project-bean:hover {
    background-color: #D88C9A;
    color: #2f2f2f;
}

.weather-finder {
    padding-bottom: 3.5vw;
}


/* ------ ABOUT ME ------ */

.about-me {
    background-color: #272727;
    padding: 1vh 3vw 3vw;
}

.about-me h2 {
    padding-bottom: 2vw;
    border-bottom: solid 1px #5e5e5e;
}

.ellie-info {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    column-count: 2;
    column-gap: 4vw;
    padding: 0 4vw;
}

/* ------ CONTACT ------ */

.contact {
    background-color: #32A28740;
    padding: 1vh 3vw 3vw;
}

.contact h2 {
    padding-bottom: 2vw;
    border-bottom: solid 1px #5e5e5e;
}

.contact p {
    font-size: clamp(10px, 2.5vw, 25px);
}

.contact-details {
    padding-left: 1vw;
}


