body {
    font-family:"Playfair Display", serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem 0;
}

.header a {
    color: #D9D9D9;
    text-decoration: none;
    font-size: clamp(10px, 5vw, 20px);
}

.hero {
    padding: 10vh 5vw 11vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero h1 {
    font-size: clamp(50px, 17vw, 200px);
    margin-bottom: 0;
}

.hero h2 {
    font-size: clamp(20px, 5vw, 55px);
    margin-top: 0rem;
    font-family: "Mukta", sans-serif;
    font-weight: 200;
}

.projects {
    background-color: #284B63;
}